body
{
    font-family: Arial, sans-serif;

    padding: 30px;
}

/* News Article */

.newsArticle
{
    column-count: 2;

    column-gap: 30px;

    column-rule: 1px solid gray;

    text-align: justify;

    line-height: 1.8;
}